.comment-section {
  width: 95%;

  margin-top: 60px;
  padding: 30px 20px 30px 20px;
  border: none;
  box-sizing: border-box;
  background-color: #ffffff;
}

.comment-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.comment-section textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  margin-bottom: 10px;
}

.comment-section button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.comment-section ul {
  list-style: none;
  padding: 0;
}

.comment-section li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.comment-section li .delete button {
  display: flex;
  justify-content: end;
}
