.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 400px;
  height: auto;

  background-color: white;
  border: 10px solid rgb(192, 192, 192);
  border-radius: 25px;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

  position: relative;
  z-index: 1001;
  overflow: hidden;
  /* display: block; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.modal-content .box-img {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  /* object-fit: contain; */
}

.modal-content .box-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.modal-content .closeBtn {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 8px;
}
.modal-content .closeBtn:hover {
  background-color: rgb(117, 0, 0);
  color: white;
}
.modal-content img {
  max-width: 100%;
  /* max-height: 50%;      */
  /* object-fit: contain;  */
  margin-bottom: 1rem;
}
.modal-content h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;

  /* font-weight: 500px; */

  padding-bottom: 10px;
}
.modal-content .cart {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  height: auto;
  font-size: 20px;
}
/* .modal-content .cart .quantity-box{
  border: 1px solid;
  
  } */
.modal-content .cart .quantity-box button {
  width: 30px;
  height: 30px;
  border: none;

  background-color: rgb(192, 192, 192);
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;

  transition: all 0.3s ease;
}

.modal-content .cart .quantity-box button:hover {
  background-color: rgb(192, 192, 192);
}

.modal-content .cart .quantity-box .qty {
  padding: 5px;
}
.modal-content .cart .cart-go {
  width: auto;
  height: 30x;
  border: none;
  border-radius: 10px;
  background-color: rgb(192, 192, 192);
  cursor: pointer;
  font-size: 20px;
  padding: 2px 1rem;
  box-sizing: border-box;

  transition: all 0.3s ease;
}

.modal-content .cart .cart-go:hover {
  background-color: rgb(192, 192, 192);
}

@media (max-width: 450px) {
  .modal-content .closeBtn {
    margin-left: 380px;
  }
}
