/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"); */

/* body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

#root {
  width: 100%;
  /* 최소 height:100vh, 100vh 초과시 자동으로 조절*/
  min-height: 100vh;
}

.loading {
  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}
