.slide{
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  
}
.slide .slide-con {
  flex: 0 1 1600px;
  
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.banner_image.active {
  opacity: 1;
  z-index: 1;
}

.prearrow,
.nextarrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  transition: 0.7s ease-in-out;
  z-index: 10;
  /* border: 1px solid; */
}

.prearrow {
  left: 0;
}

.nextarrow {
  right: 0;
}

@media (max-width: 450px) {
  .slide{
    width: 90%;
  }
}
