.admin-modal {
  width: 100%;
  height: 100vh;

  background-color: #ffffffc4;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}


.admin-modal .admin-modal-con {
  flex: 0 1 350px;
  padding: 10px;
  background-color:  #000000;
  
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  gap: 0.5vh;
  
  position: relative;
}
.admin-modal .admin-modal-con .admin-modal-container{
  background-color: #ffffff;
  padding: 1px;
  box-sizing: border-box;
}

span.close {
  width: 30px;
  position: absolute;
  background-color: #ff0000;
  color: #ffffff;
  padding: 3px 6px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;

  border-radius: 5px 0 5px 5px;

}

span.close:hover {
  cursor: pointer;
  background-color: #f8f82f;
  color: #ff0000;
}

.admin-modal .admin-modal-con h1 {

  background-color:  black;
  color: white;

  font-size: 1.2em;

  padding: 1vh 1vw;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-modal .admin-modal-con ul {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 0.5vh;
}

.admin-modal .admin-modal-con ul li {

  display: flex;
  justify-content: space-between;
  gap: 0.1vmin;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
}

.admin-modal .admin-modal-con ul li input {
  flex: 3;
  padding: 0.5vmin;
  box-sizing: border-box;
  
}

.admin-modal .admin-modal-con ul li button {
  flex: 1;
  padding: 0.5vmin;

  cursor: pointer;

  background-color: #585bff;
  color: #ffffff;
  border: 0;

  transition: all 0.5s;
}

.admin-modal .admin-modal-con ul li button:hover {
  background-color: rgb(224, 14, 154);
  color: #ffffff;
}

.admin-modal .admin-modal-con ul li select {
  flex: 3;
  padding: 0.5vmin;

  text-align: center;

  
}

.admin-modal .admin-modal-con ul li label {
  flex: 1;
  padding: 0 0.5vmin;
  box-sizing: border-box;

  background-color: #ccc;
  /* color: #ffffff; */

  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;

}