.orderPayment-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  width: 100%;
  height: 100vh;

  background-color: #ffffffc4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orderPayment-modal .orderPayment-modal-con {
  position: relative;
  width: 350px;
  height: auto;

  padding: 0 10px 10px 10px;

  box-sizing: border-box;

  background-color: #000000;

  display: flex;
  flex-direction: column;
}

.orderPayment-modal .orderPayment-modal-con .order-modal-title {
  height: 80px;
  /* border: 1px solid #000; */
  color: #fff;

  padding: 20px;
  box-sizing: border-box;

  font-size: 20px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orderPayment-modal-con .order-modal-title .close-modal {
  position: absolute;
  width: 30px;
  position: absolute;
  background-color: #ff0000;
  color: #ffffff;
  padding: 3px 6px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;

  border-radius: 5px 0 5px 5px;
}

.orderPayment-modal-con .order-modal-title .close-modal:hover {
  cursor: pointer;
  background-color: #f8f82f;
  color: #ff0000;
}

.orderPayment-modal-con .order-modal-title .close-modal > img {
  display: block;
  width: 60%;
}

.orderPayment-modal .orderPayment-modal-con .order-userDetail {
  border: 1px solid #000;
  overflow: hidden;
  background-color: #fff;
}

.orderPayment-modal-con .order-userDetail > ul {
  display: flex;
  flex-direction: column;
}
.orderPayment-modal-con .order-userDetail > ul > li {
  display: flex;
}

.orderPayment-modal-con .order-userDetail > ul > li > span:nth-child(1) {
  width: 100px;
  height: 40px;

  background-color: #ccc;
  border-bottom: 1px solid #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orderPayment-modal-con .order-userDetail > ul > li > span:nth-child(2) {
  flex: 1;

  padding-left: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.orderPayment-modal-con .order-userDetail > ul > li > span.last {
  border-bottom: 1px solid #ccc;
}

.order-userDetail > ul > li:nth-last-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
}

.order-userDetail > ul > li .order-title-con {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #585bff;
  color: #fff;

  font-size: 18px;
  font-weight: 500;

  padding: 10px;
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

.order-userDetail .payment-item-detail {
  width: 90%;
  display: flex;
  justify-content: space-between;

  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  gap: 10px;
}

.order-userDetail .payment-item-detail > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-userDetail .payment-item-detail > span:nth-child(2) {
  width: 80px;
}

.payment-item-detail .item-img {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-item-detail .item-img > img {
  display: block;
  height: 100%;
}
