.AccessoriesPage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AccessoriesPage .Accessory-header {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.AccessoriesPage .Accessory-header img {
  width: 85%;
  height: 350px;

  object-fit: cover;

  display: block;
  justify-content: center;
}

.AccessoriesPage .AccessoriesPage-con {
  width: 100%;

  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 320px);
  gap: 45px;

  padding: 30px;
  box-sizing: border-box;
}

.AccessoriesPage .AccessoriesPage-con .Accessory-item {
  height: 320px;
  width: auto;

  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  padding: 5px;
}

.AccessoriesPage .AccessoriesPage-con .Accessory-item .item-top img {
  display: block;

  width: 100%;
  height: 200px;
  /* object-fit: cover; */
  padding: 0 0 5px 0;
  transition: all 0.3s ease;
}

.AccessoriesPage .AccessoriesPage-con .Accessory-item .item-top img:hover {
  transform: scale(1.05);
}

.AccessoriesPage .AccessoriesPage-con .Accessory-item .cart-middle {
  display: flex;
  justify-content: center;
}

.AccessoriesPage
  .AccessoriesPage-con
  .Accessory-item
  .cart-middle
  .cart-button {
  width: 100%;
  background-color: rgb(229, 229, 229);
  border: none;
  border-radius: 5px;
  padding: 3px 0 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.AccessoriesPage
  .AccessoriesPage-con
  .Accessory-item
  .cart-middle
  .cart-button:hover {
  background-color: rgb(192, 192, 192);
}

.AccessoriesPage
  .AccessoriesPage-con
  .Accessory-item
  .cart-middle
  .cart-button
  img {
  padding-right: 20px;
}

.AccessoriesPage .AccessoriesPage-con .Accessory-item .item-bottom h3 {
  display: flex;
  justify-content: center;
  padding: 10px 0 5px 0;

  box-sizing: border-box;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.item-bottom p {
  display: flex;
  justify-content: center;
  padding: 0 0 5px;
}

@media (max-width: 450px) {
  .AccessoriesPage .AccessoriesPage-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 728px) {
  .AccessoriesPage .AccessoriesPage-con {
    grid-template-columns: 1fr;
  }
}
