@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.WhiskeyPage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.WhiskeyPage .Whiskey-header {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.WhiskeyPage .Whiskey-header img {
  width: 85%;
  height: 350px;

  object-fit: cover;

  display: block;
  justify-content: center;
}

.WhiskeyPage .WhiskeyPage-con {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 320px);
  gap: 45px;

  padding: 30px;
  box-sizing: border-box;
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item {
  height: 320px;
  /* width: auto; */

  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  padding: 5px;
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .item-top img {
  display: block;

  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 0 0 5px 0;
  transition: all 0.3s ease;
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .item-top img:hover {
  transform: scale(1.05);
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .cart-middle {
  display: flex;
  justify-content: center;
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .cart-middle .cart-button {
  width: 100%;
  background-color: rgb(229, 229, 229);
  border: none;
  border-radius: 5px;
  padding: 3px 0 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .cart-middle .cart-button:hover {
  background-color: rgb(192, 192, 192);
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .cart-middle .cart-button img {
  padding-right: 20px;
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .item-bottom {
  /* border: 1px solid; */
  box-sizing: border-box;
}

.WhiskeyPage .WhiskeyPage-con .Whiskey-item .item-bottom h3 {
  /* width: 100%; */
  /* display: flex;
  justify-content: center; */
  padding: 0.5vw 0.8vw;
  box-sizing: border-box;
  text-align: center;

  /* border: 1px solid; */

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.item-bottom p {
  display: flex;
  justify-content: center;
  padding: 0 0 5px;
}

@media (max-width: 450px) {
  .WhiskeyPage .WhiskeyPage-con {
    grid-template-columns: repeat(2, 1fr);
  }
  .WhiskeyPage .WhiskeyPage-con .Whiskey-item .item-bottom h3 {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
