.paymentMap {
  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  border: 1px solid #ccc;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #b8b8b871;
}

.paymentMap .paymentMap-con {
  position: relative;

  width: auto;
  height: 500px;

  padding: 0 30px 20px 30px;
  box-shadow: 1px 1px 5px #a0a0a0;
  border-radius: 10px;
  box-sizing: border-box;

  background-color: #fff;
}

.paymentMap .paymentMap-con .paymentMap-title {
  height: 80px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentMap .paymentMap-con .paymentMap-title > span {
  font-size: 20px;
  font-weight: 500;
}

.paymentMap .paymentMap-con > button {
  position: absolute;
  right: 20px;
  top: 20px;

  width: 50px;
  height: 30px;

  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #ffffff;

  transition: all 0.1s;

  cursor: pointer;
}

.paymentMap .paymentMap-con > button:hover {
  border: 1px solid #777777;
  box-sizing: border-box;

  background-color: #ececec;
}

.paymentMap .paymentMap-con #map {
  border-radius: 8px;
}

@media (max-width: 450px) {
  .paymentMap .paymentMap-con {
    width: 300px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
