.paymentSuccess {
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentSuccess .paymentSuccess-con {
  /* border: 1px solid #ccc; */

  display: flex;
  flex-direction: column;

  gap: 60px;
}

.paymentSuccess .paymentSuccess-con .paymentSuccess-top {
  /* border: 1px solid #ccc; */

  font-size: 25px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 60px;
}

.paymentSuccess-con .paymentSuccess-top .top-success {
  width: 170px;
  height: 170px;
}

.paymentSuccess-con .paymentSuccess-top .top-success > img {
  display: block;
  width: 100%;
}

.paymentSuccess-con .paymentSuccess-bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.paymentSuccess-con .paymentSuccess-bottom > button {
  width: 140px;
  height: 50px;

  font-size: 16px;
  color: #636363;

  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  background-color: #fff;

  transition: all 0.2s;

  cursor: pointer;
}

.paymentSuccess-con .paymentSuccess-bottom > button:hover {
  border: 1px solid #000;
  color: #000;

  font-weight: 500;
}
