.auth-join {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  /* align-items: center; */

  /* background: url("/public/images/background/background3.jpg") no-repeat 50% /
    cover; */
}

.auth-join-con {
  width: 400px;
  /* border: 1px solid; */
  box-sizing: border-box;
  border-radius: 20px;

  background-color: rgb(255, 255, 255);
  padding: 1.2vh;
}

.auth-join-con h1 {
  flex-direction: column;
  text-align: center;

  padding: 0 0 5px 0;
  font-size: 30px;
}

.auth-join-con span {
  /* font-size: 10px; */
  display: flex;
  justify-content: start;
}

.auth-join-con ul {
  padding: 15px 0 0 0;
  border-top: 2px solid #797979;
}

.auth-join-con ul > li {
  width: 300px;
  /* height: 25px; */

  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 10px 0 0 0;
}

.auth-join-con ul > li select {
  width: 125%;
  height: 40px;
}

.auth-join-con ul button {
  width: 100%;
  border: none;
  box-sizing: border-box;

  border-radius: 5px;
  cursor: pointer;
}

.auth-join-con ul > li input {
  width: 125%;
  box-sizing: border-box;
  height: 40px;
  padding: 0 5px 0 5px;
}

.auth-join-con .JoinBottom_Btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 0 0;

  gap: 10px;
}

.auth-join-con .JoinBottom_Btn .join-box button {
  background: rgb(150, 150, 150);
  color: #ffffff;
  transition: all 0.2s ease;
}

.auth-join-con .JoinBottom_Btn .join-box button:hover {
  background-color: #797979;
}

.auth-join-con .JoinBottom_Btn button {
  height: 40px;
  padding: 1.5px;
}

.auth-join-con .JoinBottom_Btn .login-box button {
  background: #ffffff;
  border: 1px solid rgb(150, 150, 150);
  box-sizing: border-box;
}
