@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.main {
  width: 100%;
  height: auto;
  
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
  /* border: 1px solid; */
}
.main .main-con{
  flex: 0 1 1600px;
  display: flex;
  align-items: center;
  padding: 0 160px;
  box-sizing: border-box;
}

.main .main-con h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

@media (max-width: 450px){
  .main .main-con{
    padding: 10px 25px 0;
    box-sizing: border-box;
  }
  .main .main-con h1 {
    font-size: 1rem;  
  }
  .main .main-con img {
    width: 32px;
    height: 32px;
  }
}